.container {
  background-color: transparent;

  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}
.navItem {
  display: flex;

  align-items: center;
  justify-content: center;
}
.navItem p {
  color: #56b280;
  font-weight: bold;
  margin-left: 10px;
  margin-top: 10px;
}
.navItem:nth-child(2) {
  justify-content: space-between;
}
.img {
  background-color: #56b280;
  border-radius: 50%;
  position: relative;
}
.cu {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: white;
  left: 9px;
  bottom: -6px;
  z-index: 100;
}
